*{
    margin:0;
    padding:0;
}

body{
    background: #FAFAFA;
    min-height: 100vh;
    margin:0 !important;
    padding-top: 80px;
}


.titulo-principal{
    display:flex;
    justify-content: center;
}

.navbar{
    background: #DF013A !important;
    width: 100%;
    box-shadow:0 3px 10px #A4A4A4;
}

.nav-link,.navbar-brand{
    color:#fff !important;
}

a:hover{
    color:#BDBDBD !important;
}

.aside-1{
    min-height:100vh;
    /*position: fixed;
    left:0;*/
    background: #FAFAFA;
}

.aside-2{
    min-height:100vh;
    /*position: fixed;
    right:0;*/
    background: #FAFAFA;
}

.container-principal{
    min-height: 100vh;
}

.btn-secondary{
    background:#F2F2F2 !important;
    color:#585858;
    border-radius:0;
    border:none;
}

.btn-primary{
    border-radius:  0;
    border: none;
}

.btn-secondary:hover{
    background: #A4A4A4 !important;
}

#textarea-post{
    width: 100%;
    border: 0.5px solid #A4A4A4;
    height:100px;
    resize: none;
    text-indent: 10px;
    padding: 10px;
}

hr{
    border:0.5px solid #D8D8D8;
    margin:6px 0 15px 0;
}

.aside-1 .nav-link{
    width: 70%;
    color: #0c0c0c !important;
    margin: auto;
}

.aside-1 .nav-link:hover{
    color:#DF013A !important;
}

.perfil{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #fff;
}

.dropdown-menu{
    border-radius: 0;
    margin-top:11px;
}

.dropdown-menu a:hover{
    background: #DF013A;
    color: #fff !important;
}

.aside-2 a:hover{
    text-decoration: none;
    color:#DF013A !important;
}

.container-public{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.p-cero{
    padding-right:0 !important;
    padding-left:0 !important;
}

.img-post{
    width:674.5px;
    height:450px;
    padding: 15px;    
}

.border-post{
    border:0.5px solid #D8D8D8;
    margin-bottom:15px;
}

.perfil-post{
    margin-left:15px;
    margin-top:15px;
}

.container-post{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    background: #fff;
}

@media (max-width:768px){
    aside{
        display:none;
    }
}