*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #F2F2F2;
    min-height: 100vh;
    margin:0 !important;
    padding-top: 80px;
}


.titulo-principal{
    display:flex;
    justify-content: center;
}

.navbar{
    background: #DF013A !important;
    width: 100%;
    box-shadow:0 3px 10px #A4A4A4;
}

.nav-link,.navbar-brand{
    color:#fff !important;
}

a:hover{
    color:#BDBDBD !important;
}

.aside-1{
    width:25%;
    min-height:100vh;
    background: #F2F2F2;
}

.aside-2{
    width:25%;
    min-height:100vh;
    background: #F2F2F2;
}

.container-principal{
    min-height: 100vh;
}

.btn-secondary{
    background:#F2F2F2 !important;
    color:#585858;
    border-radius:0;
    border:none;
}

.btn-secondary:hover{
    color:#fff !important;
}

.btn-primary{
    border-radius:  0;
    border: none;
}

.btn-secondary:hover{
    background: #A4A4A4 !important;
}

.textarea-post{
    width: 100%;
    border-color: #D8D8D8;
    border-radius:3px;
    height:100px;
    resize: none;
    text-indent: 10px;
    padding: 10px;
    overflow-x:hidden;
    margin-bottom:6px;
}

.textarea-comment{
    width: 100%;
    border-color: #A4A4A4;
    border-radius:3px;
    height:40px;
    resize: none;
    text-indent: 10px;
    padding: 10px;
}

hr{
    border:0.5px solid #D8D8D8;
    margin:6px 0 15px 0;
}

.aside-1 .nav-link{
    width: 70%;
    color: #0c0c0c !important;
    margin: auto;
}

.aside-1 .nav-link:hover{
    color:#DF013A !important;
}

.perfil{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #fff;
}

.perfil-comments{
    width: 40px;
    height:40px;
}

.dropdown-menu{
    border-radius: 0;
    margin-top:11px;
}

.dropdown-menu a:hover{
    background: #DF013A;
    color: #fff !important;
}

.aside-2 a:hover{
    text-decoration: none;
    color:#DF013A !important;
}

.container-public{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.p-cero{
    padding-right:0 !important;
    padding-left:0 !important;
}

.img-post{
    margin: 15px 0 15px 0;    
}

.border-post{
    border:0.5px solid #D8D8D8;
    margin-bottom:15px;
}

.perfil-post{
    margin-top:15px;
}

.container-post{
    width:100%;
    border-radius:3px;
    margin-right:auto;
    margin-left:auto;
    background: #fff;
}

.list-group{
    width:100%;
    margin:auto;
    padding-right:15px;
}

.p-post{
    background:#fff;
    padding:15px 0 15px 0;
    overflow-wrap: break-word;
}

.card{
    margin-right:45px;
}

.h5-usuario{
    padding-left:15px;
}

.icon-size{
    width:25px;
    height:25px;
}

.container-button-post{
    padding:6px 15px;
}

#perfil-usuario span{
    color:#fff;
}

.perfil-post span{
    color: #000000;
}

.link-usuario{
    text-decoration: none !important;
}

.btn-cerrar-sesion{
    background:#DF013A !important;
    border: #DF013A !important;
    cursor:pointer;
}

/*---focus quita borde al button al dar click*/
.btn-cerrar-sesion:focus{
    outline:none;
}

.dropdown-menu-session{
    position:absolute;
    left:70px;
    top:46px;
}

.dropdown-toggle::after {
   display: none;
}

/* para toggle comentarios*/
.ocultarComment{
    display:none;
}

/* para toggle comentarios*/
.mostrarComment{
    display:block;
}

.ocultarImagenAn{
    display:none;
}

.img-perfil-grande{
    width:80%;
    height: 200px;
    padding: 0 15px 0 15px;
    margin-bottom:20px;
}

.img-mostrarper{
    width:70px;
    height:70px;
}

.container-mostrarper{
    background: #fff;
    margin-bottom:20px;
    border: 0.5px solid #BDBDBD;
}


/*--- Media query menu navbar usuarios---*/
@media (max-width:992px){
    .navbar-nav{
        align-items: flex-start !important;
    }

    #perfil-usuario{
        display:flex;
        align-items: center;
        margin-left:0 !important;
    }

    .navbar-nav:nth-child(6){
        order: 1 !important;
    }

}

/*--- Media query muro---*/
@media (max-width:992px){
    .container-central{
        padding-right:15px;
        padding-left:15px;
    }
}

/*--- Media query ocultar barras laterales---*/
@media (max-width:992px){
    .aside-2{
        visibility:hidden;
    }
}

@media (max-width:992px){
    .aside-1{
        visibility:hidden;
    }
}

/*--- Media query bloque comentarios publicaciones---*/

@media (max-width:768px){
    .block-comment{
        width:100%;
    }

    .block-likes{
        position: absolute !important;
        bottom:50px !important;
    }
}

